{include file="Public/header" title="修改密码"/}
    <!-- 主容器 start -->
    <div id="container" class="container-fluid">
      <div class="row-fluid">

<!-- 左侧导航栏 start -->
{include file="Public/sidebar"/}
<!-- 左侧导航栏 end -->
<!-- 主内容 start -->
<div id="content" class="span10">
  <!-- 标题 start -->
  <div class="pageTit page-header">
    <h1>修改管理员信息</h1>
  <!-- 标题 end -->
  <!-- 内容区块 start -->
  <div class="formBox">
  <form id="editform" action="{:U('Admin/Password/save')}" method="post" >
  	<input type="hidden" name="admin_id" value="{$admin_info.id}" />
        <!-- 登录名 -->
        <div class="control-group">
          <label>登录名：</label>
          <input id="admin_name" type="text" name="admin_name" placeholder="登录名为5-10位字符串" value="{$admin_info.admin_name}" datatype="s5-10" nullmsg="请填写登录名！" errormsg="登录名不能少于5个字符"/>
          <span class="Validform_checktip"></span>
        </div>
		
		<!-- 原始密码 -->
        <div class="control-group">
          <label>原始密码：</label>
          <input type="password" name="old_admin_password" placeholder="请输入原始密码" datatype="*6-16" nullmsg="请输入原始密码！" errormsg="密码范围在6~16位之间！"/>
          <span class="Validform_checktip"></span>
        </div>
		
        <!-- 新密码 -->
        <div class="control-group">
          <label>更改密码：</label>
          <input type="password" name="admin_password" placeholder="密码为6-16位字符串" datatype="*6-16"  nullmsg="请设置密码！" errormsg="密码范围在6~16位之间！"/>
          <span class="Validform_checktip"></span>
        </div>
        
        <!-- 确认密码 -->
        <div class="control-group">
          <label>确认密码：</label>
          <input type="password" name="re_admin_repassword" placeholder="再次输入密码" datatype="*" ignore="ignore" recheck="admin_password" nullmsg="请再输入一次密码！" errormsg="您两次输入的账号密码不一致！" />
          <span class="Validform_checktip"></span>
        </div>
   
        <div class="control-group">
          <img style="display:none;" src="images/loading.gif" />
          <input type="submit" class="btn btn-primary Sub" value="保存" />
        </div>
  </form>
  </div>
  <!-- 内容区块 end -->
</div>
<!-- 主内容 end -->
<script type="text/javascript">
$(function(){
  <!-- 提交表单合法性验证 -->
  $("#editform").Validform({ 
    tiptype:function(msg,o,cssctl){ 
      if(!o.obj.is("form")){ 
          var objtip=o.obj.siblings(".Validform_checktip");
          cssctl(objtip,o.type);
          objtip.text(msg); 
      }
    },
    ajaxPost:true,
    callback:function(data){
      if(data.status=="ok"){
          alert('密码修改成功，请退出重新登录！');
          window.location.href = "{:U('Admin/Logout/index')}";
        }else{
            alert(data.info);
        }
    }
  });

});
</script>
   
      </div>
    </div>
    <!-- 主容器 end -->
    <!-- 脚部 start -->
    <div id="footer">
        Copyright © 日日顺微社区版权所有
    </div>
    <!-- 脚部 end -->
  </body>
</html>
